langchain~=0.3.16
langchain-community~=0.3.16
langchain_openai~=0.3.2
google-ai-generativelanguage~=0.6.15
langchain-google-genai~=2.0.9
xlsxwriter~=3.2.1
ragas~=0.2.12
nltk~=3.9.1
unstructured~=0.16.13
RapidFuzz~=3.11.0
python-docx~=1.1.2
networkx~=3.4.2
openpyxl~=3.1.5
python-pptx~=1.0.2
pandas~=2.2.3
datasets~=3.2.0
deepeval~=2.2.6
pytest~=8.3.4
